.paper{
    margin-inline: auto;
}
.titulo{
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 100px;
    padding: 36px;
    
}
.text2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 100px;
    padding: 36px;
}
.text3{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.enviar{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
