.navbar{
    background-color: #DBDBDB ;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu-barra{
    margin-left: 2rem;
    font-size: 2rem;
    background-color: none;
}
.nav-menu{
    background-color: #DBDBDB;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -250px;
    transition: 850ms;
}
.nav-menu.active{
    top: 20px;
    left: 0;
    transition: 350ms;
}
.nav-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 10px 9px 16px;
    list-style: none;
    height: 60px;
}
.nav-text a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}
.nav-text a:hover{
    background-color: #F2F2F2;
}
.nav-menu-items{
    width: 100%;
}
.navbar-toogle{
    background-color: #000000;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
span{
    margin-left: 16px;
}
